<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Desafio blank and white</title>
  </head>
  <body>
    <h1 class="titulo">Cambiador de fotos</h1>
    <div>
      <form action="/mostrar">
        <div class="formulario">
          <label for="url" class="from-label">Imagen url:</label>
          <input type="text" id="exampleFormControlTextarea1" />
          <button type="submit">Subir imagen al servidor</button>
        </div>
      </form>
    </div>
  </body>
</html>
